.motivation{
    background-color: rgb(253, 253, 253);
    height: 100vh;
}
.motivation-navbar{
    display: flex;
    height: 12vh;
    background-image: url('../../public/images.png');
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 4px #ffffff;
}
.motivation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(3, 3, 3)
}
.motivation-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2rem;
    right: 0%;
}
.motivation-title{
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-shadow: 1px 2px 4px #000000;
    
}
.motivation-subtitle{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.motivation-choice-container{
    display: flex;
    align-items: center;
    gap: 10rem;
    position: relative;
    top: 10rem;

}
.motivation-choice-title{
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(14, 13, 13);
}
/* .motivation-content-container{
    border: 2px solid black;
    position: relative;
    top: 30rem;
} */
.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 22rem;
}
.quote{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 75%;
    text-align: center;
}
.motivation-content-container-youtube-shorts{
    position: relative;
    top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.youtube-shorts-container{
    display: flex;
    gap: 5rem;
}
.youtubeShort{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.motivation-navbar-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 2rem;
}
.motivation-navbar-button{
    color: rgb(249, 249, 249);
    font-size: 1.2rem;
    font-weight: 700;
}
.youtubeShort-videos{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.youtube-next-button{
    margin-left: 3rem;
    font-weight: bold;
    font-size: 2rem;
}
.youtube-prev-button{
    margin-right: 3rem;
    font-size: 2rem;
}
.next-quote{
    color: white;
    background-color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: small;
}